body {
    text-align: center;
    margin: 0;
    /* background-color: #bf4d5d;; */
    height: 50vh;
    display: grid;
    place-items: center;
    font-family: 'Fredoka', sans-serif;
/* background-color: #FE5B10;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='711' height='711' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23bb001e' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23d52030' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23bb001e' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23d52030' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23EF3E42' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23b18800' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23d8a900' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23FFCB05' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23d8a900' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23b18800' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23FFCB05' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23b18800' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23FFCB05' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23d8a900' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23FFCB05' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E"); */
background-color: #1F7BB6;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='544' height='544' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23c23100' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23e04c00' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23c23100' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23e04c00' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23FF6600' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23b18800' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23d8a900' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23FFCB05' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23d8a900' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23b18800' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23FFCB05' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23b18800' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23FFCB05' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23d8a900' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23FFCB05' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
}



.pokemon-card {
/* background: rgba(255, 255, 255, 0.07);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.5px);
-webkit-backdrop-filter: blur(3.5px);
border: 1px solid rgba(255, 255, 255, 0.15); */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.26);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.5px);
-webkit-backdrop-filter: blur(3.5px);
border: 1px solid rgba(255, 255, 255, 0.21);
    padding: 20px;
    width: 300px;
  }

 /* .poke-card img {
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
.pokecard h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
  }
  
  .pokecard ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .pokecard ul li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .pokecard ul li strong {
    display: inline-block;
    margin-right: 10px;
    width: 80px;
  } */
  


  .pokemon-card img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .pokemon-card h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .pokemon-card .pokemon-type {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .pokemon-card .pokemon-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .pokemon-card .pokemon-stats p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .pokemon-card .pokemon-stats strong {
    font-weight: bold;
  }